  <!--  * FOOTER -->
  <footer class="site-footer">
    <div class="contenido contenedor">
      <div class="footer-informacion">
        <h3>Sobre <span>Yaute WebCamp</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi odit animi dicta ducimus sed recusandae in accusantium nesciunt adipisci! Doloremque dolorum repudiandae inventore suscipit quaerat, natus, a distinctio consequuntur atque neque porro facilis maxime magni quibusdam harum officia? Dolor, repellat.</p>
      </div>  
      <div class="ultimos-tweets">
        <h3>Últimos <span>tweets</span></h3>
        <ul>
          <li> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusantium mollitia doloremque in vel consequuntur error dolorem deserunt, soluta sed.
          </li>
          <li> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusantium mollitia doloremque in vel consequuntur error dolorem deserunt, soluta sed.
          </li>
          <li> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam accusantium mollitia doloremque in vel consequuntur error dolorem deserunt, soluta sed.
          </li>
        </ul>
      </div>
      <div class="menu">
        <h3>Redes <span>Sociales</span></h3>
        <nav class="redes-sociales">
          <a href="#"><i class="fab fa-facebook-f"></i> </a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </nav>
      </div>
    </div>
    <p class="copyright">Todos los derechos reservados YAUTE WEBCAMP 2020.</p>
  </footer>