<div class="barra" id="header">
  <div class="contenedor">
    <div class="barra-contenido">
      <div class="logo">
        <a href="/">
          <img src="img/logo.svg" alt="Logo">
        </a>
      </div>

      <div class="menu-movil">
        <i class="fas fa-ellipsis-v fa-3x"></i>
        <!-- <span></span>
        <span></span>
        <span></span> -->
      </div>
      
      <nav class="navegacion-principal ocultar">
        <a class= "<%= pageTitle === 'Conferencias'?'activo':''%>" href="/conferencias">Conferencias</a>
        <a class= "<%= pageTitle === 'Calendario'?'activo':''%>" href="/calendario">Calendario</a>
        <a class= "<%= pageTitle === 'Invitados'?'activo':''%>" href="/invitados">Invitados</a>
        <a class= "<%= pageTitle === 'Reservaciones'?'activo':''%>" href="/registro">Reservaciones</a>
      </nav>
    </div>
  </div>
</div>
<script src="js/stickyheader.js"></script>