<%- include('./includes/head.ejs') %>
</head>
<body>

  <%- include('./includes/navegacion.ejs') %>

  <!-- * REGISTRO DE USUARIOS -->
  <section class="seccion contenedor">
    <h2>Registro de usuarios</h2>
    <p><%= datosRegistro.email %></p>
  </section>

    <%- include('./includes/footer.ejs') %>
  
    <!-- <script type="text/javascript" src="js/registro.js"></script> -->
  </body>
  </html>