<section class="seccion contenedor">
  <h2>La mejor Conferencia de diseño en español</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae sapiente blanditiis nulla laudantium a odit earum sit alias ab ut nemo soluta, doloremque magnam amet atque. Impedit doloribus dolore commodi, eum ipsam porro veniam. Laboriosam repellendus ea tenetur debitis aperiam expedita quae provident non, nostrum consectetur a illum quas, voluptates perspiciatis numquam ut officia nam nesciunt vitae odit tempora! Dolores.</p>
</section>