<div class="contador" id="bg-img">
  <div class="contenedor">
    <ul class="resumen-evento">
      <li class="numero" data-target= "6">
        <div class="numeralia" data-target= "6">0</div>
        <p>Invitados</p>
      </li>
      <li class="numero" data-target= "15">
        <div class="numeralia" data-target= "15">0</div>
        <p>Talleres</p>
      </li>
      <li class="numero" data-target= "3">
        <div class="numeralia" data-target= "3">0</div>
        <p>Dias</p>
      </li>
      <li class="numero" data-target= "9">
        <div class="numeralia" data-target= "9">0</div>
        <p>Conferencias</p>
      </li>
    </ul>
  </div>
</div>