<!-- * Cuenta Regresiva -->

<section class="section">
  <h2>Faltan</h2>
  <!-- <p id="demo"></p> -->
  <div class="cuenta-regresiva contenedor">
    <ul>
      <li>
        <p class="numero"></p> Dias
      </li>
      <li>
        <p class="numero"></p> Horas
      </li>
      <li>
        <p class="numero"></p> Minutos
      </li>
      <li>
        <p class="numero"></p> Segundos
      </li>
    </ul>
  </div>
</section>