<section class="invitados contenedor seccion">
  <h2>Invitados</h2>
  <ul class="lista-invitados">
    <li class="invitado">
      <img src="img/invitados/invitado1.jpg" alt="invitado">
      <p>Rafael Bautista</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado2.jpg" alt="invitado">
      <p>Sally Herrera</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado3.jpg" alt="invitado">
      <p>Gregorio Sanchez</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado4.jpg" alt="invitado">
      <p>Alba Solis</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado5.jpg" alt="invitado">
      <p>Juan Hernández</p>
    </li>
    <li class="invitado">
      <img src="img/invitados/invitado6.jpg" alt="invitado">
      <p>Fer Fuentes</p>
    </li>
  </ul>
</section>