<!-- * NEWSLETTER -->
<div class="newsletter" id="newsletter">
  <div class="contenido contenedor">
    <p>Registrate al Newsletter</p>
    <h3>Yaute WebCamp</h3>
    <a href="#" class="btn btn-primario transparente">Registrate</a>
  </div>
</div>