<section class="precios seccion">
  <h2>Precios</h2>
  <div class="contenedor">
    <ul class="lista-precios">
      <li>
        <div class="tabla-precio">
          <h3>Pase por dia</h3>
          <p class="numero">$30</p>
          <ul>
            <li><i class="fas fa-check"></i> Bocadillo Gratis</li>
            <li><i class="fas fa-check"></i> Todas las conferencias</li>
            <li><i class="fas fa-check"></i> Todos los talleres</li>
            <a href="#" class="btn btn-primario hollow">comprar</a>
          </ul>
        </div>
      </li>
      <li>
        <div class="tabla-precio">
          <h3>Todos dia</h3>
          <p class="numero">$50</p>
          <ul>
            <li><i class="fas fa-check"></i> Bocadillo Gratis</li>
            <li><i class="fas fa-check"></i> Todas las conferencias</li>
            <li><i class="fas fa-check"></i> Todos los talleres</li>
            <a href="#" class="btn btn-primario">comprar</a>
          </ul>
        </div>
      </li>
      <li>
        <div class="tabla-precio">
          <h3>Pase por 2 dias</h3>
          <p class="numero">$45</p>
          <ul>
            <li><i class="fas fa-check"></i> Bocadillo Gratis</li>
            <li><i class="fas fa-check"></i> Todas las conferencias</li>
            <li><i class="fas fa-check"></i> Todos los talleres</li>
            <a href="#" class="btn btn-primario hollow">comprar</a>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>