<section class="programa">
  <div class="contenedor-video">
    <video autoplay loop poster="img/bg-talleres.jpg">
      <source src="video/video.mp4" type="video/mp4">
      <source src="video/video.webm" type="video/webm">
      <source src="video/video.ogg" type="video/ogg">
    </video>
  </div>

  <div class="contenido-programa">
    <div class="contenedor">
      <div class="programa-evento">
        <h2>Programa del Evento</h2>
        <nav class="menu-programa">
          <a href="#talleres"><i class="fa fa-code"></i> Talleres</a>
          <a href="#conferencias"><i class="fa fa-comment"></i> Conferencias</a>
          <a href="#seminarios"><i class="fa fa-university"></i> Seminarios</a>
        </nav>

        <div id="talleres" class="info-curso">
          <div class="detalle-evento">
            <h3>HTML5, CSS3, JavaScript</h3>
            <p><i class="far fa-clock"></i> 16:00</p>
            <p><i class="fa fa-calendar"></i> 10 Dic</p>
            <p><i class="fa fa-user"></i> Luis Fuentes</p>
          </div>
          <div class="detalle-evento">
            <h3>Responsive Web Design</h3>
            <p><i class="far fa-clock"></i> 20:00</p>
            <p><i class="fa fa-calendar"></i> 10 Dic</p>
            <p><i class="fa fa-user"></i> Luis Fuentes</p>
          </div>
          <a href="#" class="btn btn-primario">Ver todos</a>
        </div>

        <div id="conferencias" class="info-curso ocultar">
          <div class="detalle-evento">
            <h3>Como ser freelancer</h3>
            <p><i class="far fa-clock"></i> 10:00</p>
            <p><i class="fa fa-calendar"></i> 10 Dic</p>
            <p><i class="fa fa-user"></i> Donna Fuentes</p>
          </div>
          <div class="detalle-evento">
            <h3>Tecnologias del futuro</h3>
            <p><i class="far fa-clock"></i> 17:00</p>
            <p><i class="fa fa-calendar"></i> 10 Dic</p>
            <p><i class="fa fa-user"></i> Wiggo Solis</p>
          </div>
          <a href="#" class="btn btn-primario">Ver todos</a>
        </div>

        <div id="seminarios" class="info-curso ocultar">
          <div class="detalle-evento">
            <h3>Diseño UI/UX para móviles</h3>
            <p><i class="far fa-clock"></i> 17:00</p>
            <p><i class="fa fa-calendar"></i> 11 Dic</p>
            <p><i class="fa fa-user"></i> Alba Solis</p>
          </div>
          <div class="detalle-evento">
            <h3>Aprende a programar en una mañana</h3>
            <p><i class="far fa-clock"></i> 10:00</p>
            <p><i class="fa fa-calendar"></i> 11 Dic</p>
            <p><i class="fa fa-user"></i> Musa Mendoza</p>
          </div>
          <a href="#" class="btn btn-primario">Ver todos</a>
        </div>
      </div>
    </div>
  </div>
</section>