<header class="site-header">
  <div class="hero">
    <div class="contenido-header">
      <nav class="redes-sociales">
        <a href="#"><i class="fab fa-facebook-f"></i> </a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-pinterest-p"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </nav>
      <div class="informacion-evento">
        <p class="fecha"><i class="fas fa-calendar-alt"></i> 10 - 12 Dic</p>
        <p class="ciudad"><i class="fas fa-map-marker-alt"></i> Yautepec, Mx</p>
      </div>
      <h1 class="nombre-sitio">Yaute WebCamp</h1>
      <p class="slogan">La mejor conferencia de <span>diseño web</span></p>
    </div>
  </div>
</header>