<section class="seccion">
  <h2>
    Testimoniales
  </h2>
  <div class="testimoniales contenedor">
    <div class="testimonial">
      <blockquote>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt explicabo veniam aspernatur? Nihil magnam, delectus nam, at voluptatem perspiciatis esse consequatur error rerum, accusamus incidunt. Eveniet ullam numquam perferendis vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, voluptatum.</p>
        <footer class="info-testimonial">
          <div>
            <img src="img/testimonial.jpg" alt="imagen testimonial">
          </div>
          <cite>Alba Solis Mendoza<span>Diseñador en @yautics</span></cite>
        </footer>
      </blockquote>
    </div>
    <div class="testimonial">
      <blockquote>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt explicabo veniam aspernatur? Nihil magnam, delectus nam, at voluptatem perspiciatis esse consequatur error rerum, accusamus incidunt. Eveniet ullam numquam perferendis vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, voluptatum.</p>
        <footer class="info-testimonial">
          <div>
            <img src="img/testimonial.jpg" alt="imagen testimonial">
          </div>
          <cite>David Fuentes Velazquez<span>Diseñador en @yautics</span></cite>
        </footer>
      </blockquote>
    </div>
    <div class="testimonial">
      <blockquote>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt explicabo veniam aspernatur? Nihil magnam, delectus nam, at voluptatem perspiciatis esse consequatur error rerum, accusamus incidunt. Eveniet ullam numquam perferendis vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, voluptatum.</p>
        <footer class="info-testimonial">
          <div>
            <img src="img/testimonial.jpg" alt="imagen testimonial">
          </div>
          <cite>Donna sansores<span>Diseñador en @yautics</span></cite>
        </footer>
      </blockquote>
    </div>
  </div>
</section>